// Buttons
.btn {
	&-primary {
		border-radius: 50px !important;
	}

	&--white {
		background-color: white !important;
		background-image: url(/images/circle-check.svg);
		background-repeat: no-repeat;
		background-position: left 15px center;
		border-radius: 50px !important;
		box-shadow: 0px 3px 6px #00000029;
		color: $secondary !important;
		margin: 15px 0;
		padding: 1.5rem !important;
		width: 100%;

		span {
			position: absolute;
			font-size: 12px;
			text-transform: uppercase;
			right: 40px;
			bottom: 35px;

			.estimate {
				font-weight: 700;
				color: $success;
			}
		}

		&:hover {
			background-color: $secondary !important;
			color: white !important;
		}

		&--disabled {
			background-image: none;
			text-align: left !important;
			opacity: 1 !important;
			text-transform: uppercase;
			font-weight: 700 !important;

			&:hover {
				background-color: white !important;
				color: $secondary !important;
			}

			span {
				color: $primary;
				font-size: 28px !important;
				font-weight: 400 !important;
			}
		}
	}
}